<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <title>MonoMuse</title>
</head>

<body onload="addYear()">
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a id="buy-tickets" href="tickets.html">Buy Tickets</a>
            <a id="navselected" href="checkout.html">Checkout</a>
        </nav>
    </header>

    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="quantity">Ticket Quantity:</label><br>
        <input type="number" id="quantity" name="quantity" min="1" required><br><br>

        <button type="submit">Submit</button>
    </form>

    <footer><p id="copyYear"></p></footer>
</body>
